@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Gentium Plus', serif;
}

body {
    background-image: linear-gradient(90deg, rgb(230, 171, 63), rgb(235, 235, 125));
}

#container {
    text-align: center;
}

#cronometro {
    font-size: 8em;
}

button {
    width: 150px;
    padding: 10px 0;
    margin: 0 15px;
    border-radius: 10px;
    border: none;
    font-size: 1.8em;
    background-color: rgb(223, 156, 33);
    color: rgb(245, 245, 156);
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: rgb(221, 149, 16);
}